@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body, html, #root {
        height: 100%;
    }

    html {
        font-family: "Kumbh Sans";
        font-size: 12px;
    }
}

@layer components {
    .get-me-out {
        background: url(src/assets/images/illustration-woman-online-desktop.svg) top 50% left -80px no-repeat,
            url(src/assets/images/bg-pattern-desktop.svg) top 70% left 111% no-repeat;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(15%) translateX(-120%);

        }

        50% {
            transform: translateY(25%) translateX(-120%);

        }
    }

    .animate-bounc {
        animation: bounce 3s infinite ease-in-out;
    }
}